@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Condensed:wght@200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

.scroller {
    animation: 10s scroll alternate infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:checked+label {
    border-color: #000;
    border-width: 3px;
    background-color: #d6d6d6;
    color: #000;
    transition: all 0.1s ease-in-out;
}

.cover {
    width: 100%;
    background: url("../assets/gradient.jpg") !important;
    background-size: cover;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}